body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


 
}
.login-container, .profile-section, .attendance-card {
  width: 400px;
  background-color: white;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0;


}


.login-container h2{
  font-weight: bold;

}

.login-container .forms{

  margin: 20px;





}

.login-container .forms button{

    background-color: #4CAF50; /* Green */
    color: #ffffff; /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .login-container .forms button:hover {
    background-color: #3e8e41; /* Darker green on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .login-container .forms button:active {
    background-color: #3e8e41; /* Darker green on active */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: translateY(0);
  }
  




img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h2, h3 {
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

.error {
  color: red;
  margin-top: 10px;
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;

  background-color: #4CAF50; /* Green */
    color: #ffffff; /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

a:hover{
  background-color:#4CAF50 ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  color: white;
  text-decoration: none;
  color: blue;

}
